Add OIDC bearer token authentication support to /labs/api

Add support for OAuth2/OIDC bearer token authentication to /labs/api. The API is the "resource server" in the terminology of [RFC 6750 § 3.1](https://datatracker.ietf.org/doc/html/rfc6750#section-1.3).

- [x] Research whether there are OIDC implementations that are designed for use or that integrate well with FastAPI.
- [x] Devise a design pattern for restricting access to FastAPI endpoints based on the OIDC scope(s) of the bearer token - likely a decorator
- [ ] Choose naming conventions for OIDC scopes. [SciTokens](https://scitokens.org) might be relevant for scope naming.
- [x] Add an example "Hello world"-like endpoint with access limited to an example scope.

# Resources

- [RFC 6750 § 2.1](https://datatracker.ietf.org/doc/html/rfc6750#section-2.1) - specification for HTTP request headers
- [Authlib](https://docs.authlib.org/en/latest/) - an easy to use, well documented, and well reputed OAuth2/OIDC implementation in Python

I haven't implemented anything in the /labs/api/ yet, but I've designed a very small working example and pushed it to my local environment. Should be cloneable and testable in < 3 minutes.

I have it pushed to my local GH repository: https://github.com/swyatt7/fastapi_security_example.

I'd like to have a design discussion on this implementation before diving into the /labs/api/ code.

You have the right idea here! The main differences for the ACROSS application are:

- Cognito will generate the access tokens, not the API.
- We'll [auto-discover the IdP's configuration and signing public keys](https://openid.net/specs/openid-connect-discovery-1_0.html) from Cognito rather than storing the key in the code.
- _Most_ of the time, API requests will be authenticated using the `Authorization: Bearer` header, rather than the query string.

https://github.com/nasa-gcn/gcn.nasa.gov/pull/1861 addresses bullet 1 of this. 